<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ANWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8C698A91D5335C300F7CC3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8C698C21D5335C300F7CC3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8C698CD1D5335C300F7CC3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
